/2.1 Heading Element
/2.2 Paragraph Element
/2.3 Void Elements
/2.4 Movie Ranking Project
/3.0 List Elements
/3.1 Nesting and Indentation
/Computer
/CSS - Bacon Fansite
/CSS - My Site
/HTML - Personal Site
/HTML-CSS-Course
/Javascript all course
/Variables and Libraries